
 ::ng-deep .mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12) !important;
    display: initial !important;
    padding: 0px !important;
    border-radius: 2px !important;
    box-sizing: border-box !important;
    overflow: auto !important;
    outline: 0 !important;
    opacity: 0.9 !important;
   
    width: 500px;
    height: 500px;
}

::ng-deep .mat-dialog-container-loading-circular {
    display: contents !important;
    padding: 0px !important;
}
